@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* navbar */

.navbar {
    background-color: #e3e3e3;
    color: black;
    height: 120px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;    
}

.navbar a:hover {
    border-bottom: 2px black solid;
}

.navbar .flex {
    justify-content: space-between;
}

.logo {
    height: 120px;
    width: 120px;
}

/* welcome */

.welcome {
    
    size: cover;

}

.welcome-text {
    background-color: rgba(0,0,0,0.75);
    border: 3px #333 solid;
    color: white;
    border-radius: 25px;
    text-align: center;
    margin-top: 120px;
    height: 240px;
}

.welcome-text h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 60px;
}

.welcome-text h3 {
    font-size: 25px;
    font-weight: 300;
    margin-top: 20px;
}

/* utility */

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 60px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}   