@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* navbar */

.navbar {
    background-image: linear-gradient(#e3e3e3, #9c9a9a) ;
    color: black;
    height: 90px;
}

.navbar ul {
    
}

.navbar li {
    margin: auto;
}

.navbar a {
    padding: 36px;
    margin: 0 5px;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
}

.navbar a:hover {
    border-bottom: 2px black solid;
    box-shadow: 0px 1px 20px 2px;
    background-image: linear-gradient(#e3e3e3, #777777);
}

.navbar .flex {
    justify-content: space-between;
    align-items: stretch;
}

.navbar .logo {
    height: 100%;
    width: auto;
}

/* landing */

.landing {
    background-image: url(../media/SS-CTA.jpg);
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    overflow: hidden;
}

.landing .container {
    height: 100%
}


.landing .logo  {
    height: 540px;
    width: auto; 
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    padding: 15px;
    border: 2px white solid;
    box-shadow: 10px 10px 10px 10px black; 
    
}


/* utility */

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 60px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}  

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    margin: 10px;
    padding: 10px;
}

.btn-primary {
    background-color: rgb(255, 72, 0);
    border: 1px #e3e3e3 solid;
    margin: 45px;
    border-radius: 15px;
    color: #e3e3e3;
    padding: 10px;
}